@charset "utf-8";
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Sans JP", "Sans-serif";
	font-size: 14px;
	font-weight: 300;
}
body{
	width: 100vw;
}
header{
	width: 100%;
	background: #fff;
	}
header a{
	display: block;
	width: 170px;
	padding: 10px;
	margin: 0 auto;
}
header a img{
	display: block;
	width: 100%;
}

main{
	width: 100%;
}
main img.MV{
	display: block;
	width: 100%;
}
main section.section-01{
	width: 100%;
	background: #dec200;
	padding: 2em 0;
}
main section.section-01 div.section-inner{
	width: 80%;
	margin: 0 auto;
	color: #fff;
}
main section.section-01 div.section-inner h2{
	border-bottom: 3px solid #fff;
	margin-bottom: 1em;
	font-size: 18px;
	font-weight: bold;
}
main section.section-02{
	width: 100%;
	background: #1b9aaa;
	color: #fff;
	padding: 2em 0;
}
main section.section-02 div.section-inner{
	width: 80%;
	margin: 0 auto;
}
main section.section-02 div.section-inner h2{
	border-bottom: 3px solid #fff;
	margin-bottom: 1em;
	font-size: 18px;
	font-weight: bold;
}
main section.section-02 div.section-inner ol{
	padding-left: 30px;
}
main section.section-02 div.section-inner ol li{
	margin-bottom: 1em;
}
main section.section-02 div.section-inner table, th, td{
	border: 1px solid #555;
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0.5em;
	color: #000;
}
main section.section-02 div.section-inner table{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
main section.section-02 div.section-inner th{
	background: #87cefa;
	width: 40%;
}
main section.section-02 div.section-inner td{
	background: #fff;
	width: 60%;
}

main section.form-section{
	width: 100%;
	padding: 2em 0;
	background: #3d5a6d;
	color: #fff;
}
main section div.section-inner{
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}
main section.form-section div.section-inner h2{
	border-bottom: 3px solid #fff;
	margin-bottom: 1em;
	font-size: 18px;
	font-weight: bold;
}
main section.form-section div.section-inner div.form-item{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 2em;
}
main section.form-section div.section-inner div.form-item dt:before{
	content: "◆";
	margin-right: 6px;
}
main section.form-section div.section-inner input{
	margin-top: 0.5em;
	border: 1px solid #ccc;
}
main section.form-section div.section-inner div.form-item input[type="text"], main section.form-section div.section-inner div.form-item input[type="email"]{
	width: 100%;
	height: 2em;
	padding: 0.5em;
	color: #1b9aaa;
	background: #fff;
	border-radius: 0;
}
main section.form-section div.section-inner div.form-item input[type="radio"]{
	margin-left: 1.5em;
	margin-right: 3px;
	accent-color: #1b9aaa;
}
main section.form-section div.section-inner div.form-submit input[type="submit"]{
	display: block;
	width: 50vw;
	padding: 1em;
	margin: 0 auto;
	border-radius: 0;
	background: #1b9aaa;
}

footer{
	margin: 1em;
	text-align: center;
}
footer address{
	margin-bottom: 0.5em;
	font-size: 10px;
}
footer small{
	font-size: 10px;
}
@media screen and (min-width: 480px){
	main section{
		padding: 4em 0;
	}
	main .section-02 div.section-inner table, th, td{
		padding: 1em;
	}
	footer address, footer small{
		font-size: 6px;
	}
}